
.header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.todo-container {
    background: #EFEFEF;
    height: 100%;
}

.container {
    background: grey;
}

.sidenav {
    height: 80%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
ul {
    list-style-type: none;
}

.btn {
    text-align: center;
    width: fit-content;
}

input[type="checkbox"] {
    margin: 8px 10px 0 0;
    background-color: #fff;
}
input[type=checkbox]:checked {
    color: #fff;
}

span {
    width: 100px;
}
.col-6 {
    align-content: center;
}
.btn-outline-secondary {
    margin: 0 5px 0 0;
}
.btn-sm {
    height: 31px !important;
    margin: 2px 3px 2px 2px;
}

.todo-container {
    background-color: #fff;
    margin: 5px 0 5px 0;
    box-shadow: 1px 0px 2px 1px rgba(0,0,0,0.61);

}
/* .btn-row {
    display: flow-root;
} */

.sub-header {
height: 100%;
padding-left: 30%;
padding-right: 30%;
text-align: center;
}

.header-title {
    padding-top: 30px;
}