doctype html
head
  head
    title Todos-App
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    link(rel='stylesheet' href='/static/css/main1.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
    
    // Font Awesome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css' rel='stylesheet')
    title my-Todos
nav.navbar.navbar-expand-lg.navbar-light
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/')
          | Home
          //- span.sr-only (current)
      li.nav-item
        a.nav-link(href='contact' tabindex='-1') Contact Us
          span.sr-only (current)
    //- form.form-inline.my-2.my-lg-0
    //-   input.form-control.mr-sm-2(type='search' placeholder='Search Todo' aria-label='Search')
    //-   button.btn.btn-search.custom-btn.my-2.my-sm-0(type='submit')
    //-     | Search
    if locals.user
      a.mr-sm-2.my-2 Welcome, #{user.nickname}
      //- span.a-borderspan |
    if locals.user
      a(href='/logout').mr-sm-2.my-2
        //- span.glyphicon.glyphicon-user.mr-sm-2
        |  Log Out
    else
      a(href='/user').mr-sm-2.my-2
        //- span.glyphicon.glyphicon-log-in.mr-sm-2
        |  Login
// header img
header
  .page-header
    div.header-img
    div.a-logo-container
      div
        img.a-logo(src="/static/images/logo1.png" alt="logo" style="margin-left: 30px")
      div.a-custom-logo
        h1.logo-name(style="font-weight:600") To-Dos
      div
        h6(style='display: none')| Photo by Glenn Carstens-Peters on Unsplash
.container.a-custom-container
  #modalContactForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
  // Modal: Contact form
  .modal-dialog.cascading-modal(role='document')
    // Content
    .modal-content
      // Header
      .modal-header.white-text(style="background-color: #058db5")
        h4.title
          i.fa.fa-pencil-alt
          |  Contact Us
        button.close.waves-effect.waves-light(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      // Body
      .modal-body
        // Material input name
        .md-form.form-sm
          i.fa.fa-envelope.prefix
          input#materialFormNameModalEx1.form-control.form-control-sm(type='text')
          label(for='materialFormNameModalEx1') Your name
        // Material input email
        .md-form.form-sm
          i.fa.fa-lock.prefix
          input#materialFormEmailModalEx1.form-control.form-control-sm(type='text')
          label(for='materialFormEmailModalEx1') Your email
        // Material input subject
        .md-form.form-sm
          i.fa.fa-tag.prefix
          input#materialFormSubjectModalEx1.form-control.form-control-sm(type='text')
          label(for='materialFormSubjectModalEx1') Subject
        // Material textarea message
        .md-form.form-sm
          i.fa.fa-pencil-alt.prefix
          textarea#materialFormMessageModalEx1.md-textarea.form-control(type='text')
          label(for='materialFormMessageModalEx1') Your message
        .text-center.mt-4.mb-2
          button.btn.white-text(style="background-color: #058db5;")
            | Send
            i.fa.fa-send.ml-2
    // /.Content
  // /Modal: Contact form
footer(style="position: relative; bottom: 0")
  .a-copyright
    p.text-center(style="margin-bottom: 0") &copy;2019 Jose Valadez
  p(style='text-align:center;')
    a(href='https://www.linkedin.com/in/jose-valadez-43038b188/' target='_blank')
      img(alt='' src='/static/images/linked.svg' style='height:20px; width:20px')

script(type='text/javascript' src='/static/js/jquery-3.4.1.min.js')
// Bootstrap tooltips
script(type='text/javascript' src='/static/js/popper.min.js')
// Bootstrap core JavaScript
script(type='text/javascript' src='/static/js/bootstrap.min.js')
// MDB core JavaScript
script(type='text/javascript' src='/static/js/mdb.min.js')
